{% extends "layout.html" %}
{% block body %}

<div class="card card-body">
<form action="/update_shop/{{shop.0}}" method="POST">

    <input type="number"  class="form-control" name="CODIGO_NCR" placeholder="CODIGO_NCR" value ={{shop.0}} readonly=readonly >
    <input type="text"  class="form-control" name="NOMBRE_TIENDA" placeholder="NOMBRE_TIENDA" value={{shop.1}} readonly=readonly >
    <input type="text" class="form-control" name="CODIGO_SAP" placeholder="CODIGO_SAP" value={{shop.2}} readonly=readonly>
    <input type="text" class="form-control" name="IP_SERVER" placeholder="IP_SERVER" value={{shop.3}} >
    <input type="text" class="form-control" name="IP_PC" placeholder="IP_PC" value={{shop.4}}>
    <input type="text" class="form-control" name="IP_CAMARAS" placeholder="IP_CAMARAS" value={{shop.5}}>
    <input type="text" class="form-control" name="ESTADO" placeholder="ESTADO" value={{shop.7}}>
    <input type="number" class="form-control" name="ABIERTA" placeholder="ABIERTA" value={{shop.6}}>
    <button type="submit" class="btn btn-primary btn-block">Editar</button>
    
</form>
</div>

{% endblock %}
